body {
    overflow: hidden;

    font-family: Arial, Helvetica, sans-serif;
    
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

molecular-structure {
    position: absolute;
    left: 12px;
    top: 6em;
    right: 12px;
    bottom: 0;
    z-index: -1;
}

#formula-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 16px 12px;
    font-size: xx-large;
    display: flex;
    align-items: center;
}
#formula-container > label, input, button {
    margin: inherit;
    padding: 10px 8px;
}
#formula-container > input, button {
    font-size: smaller;
    border: 3px solid #4c5554;
    border-radius: 10px;
    box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.07);
}
#formula-container > input {
    flex-grow: 1;
    outline: none;
}
#formula-container[valid=false] > input {
    color: red;
    background-color: #ffe2e2;
}
#formula-container > button:hover {
    background-color: #ddd;
}
#formula-container > button:active {
    background-color: #ccc;
}

#error {
    background-color: red;
}

@media (max-width: 960px) {
    #formula-container {
        font-size: x-large;
        margin: 8px 6px;
        flex-direction: column;
        align-items: stretch;
    }
    molecular-structure {
        top: 12em;
    }    
}
